<details>
<summary>Create a reusable setting for {{ groups[group_id].name }}</summary> 

   1. Navigate to Home > Endpoint Security > Attack Surface Reduction
   2. Click on Reusable Settings
   3. Click (+) Add
   4. Enter the *{{ groups[group_id].name }}* for the name.  
   5. Optionally, enter a description
   6. Click on "Next"
   {% for property in groups[group_id]._properties %}
   {% include "reusable_setting_property.j2" %}
   {% endfor %}
   7. Set the match type drop down to {{ groups[group_id].match_type }}
   8. Click "Next"
   9. Click "Add"
</details>