1. Create an entry for  *{{ property.name }}* = *{{ property.value }}* 
        1. Click (+) Add
        2. Select "Reusable storage"
        3. Click on "Configure setting"    
        4. Enter *{{ property.name }}( {{ property.value }} )* for Name
        5. Enter *{{ property.value }}* for {{ property.name }}
        6. Click "Save"


