<table>
    <tr>
        <td>Rule</td>
        <td>Permissions</td>
    </tr>
    {% for key,value in rules.items() %}
        <tr>
            <td rowspan="{{ value.entries | length }}">{{ key }}</td>
            <td>{{ value.entries[0].type }}</td> 
        </tr>
        {% for entry in value.entries[1:] %}
        <tr>
            <td>{{ entry.type }}</td>
        </tr>
        {% endfor %}

    
    {% endfor %}
</table>