# Device Control Policy: {{ env['DC_QUERY'] }}
<table>
    <tr>
        <th rowspan="2" valign="top">Rule</th>
        <th rowspan="2" valign="top">Permissions</th>
        <th colspan="7" valign="top"><center>Access</center></th>
        <th rowspan="2" valign="top">Notification</th>
        <th rowspan="2" valign="top">User SID</th>
        <th rowspan="2" valign="top">Conditions</th>
        <th rowspan="2" valign="top">Included</th>
        <th rowspan="2" valign="top">Excluded</th>
    </tr>
    <tr>
		<th>Disk Read</th>
		<th>Disk Write</th>
		<th>Disk Execute</th>
		<th>File Read</th>
		<th>File Write</th>
		<th>File Execute</th>
		<th>Print</th>
	</tr>
    {%- for key,value in rules.items() -%}
        <tr>
            <td rowspan="{{ value.entries | length }}"><b>{{ value.name }}</b></td>
            <td>{{ value.entries[0].type }}</td>
            <td>{{ value.entries[0].permissions[1] }}</td>
            <td>{{ value.entries[0].permissions[2] }}</td>
            <td>{{ value.entries[0].permissions[4] }}</td>
            <td>{{ value.entries[0].permissions[8] }}</td>
            <td>{{ value.entries[0].permissions[16] }}</td>
            <td>{{ value.entries[0].permissions[32] }}</td>
            <td>{{ value.entries[0].permissions[64] }}</td>
            <td>{{ value.entries[0].notifications }} ({{ value.entries[0].options }})</td> 
            <td>{{ value.entries[0].sid }}</td>
            <td>{{ value.entries[0].parameters.match_type }}
                <ul> 
                {%- for condition in value.entries[0].parameters.conditions -%}
                    <li> {{ condition.match_type }} 
                        <ul>
                        {%- for id in condition.groups -%}
                            <li>{{ groups[id].name }} {{ groups[id].match_type }} {{ groups[id].properties }}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
            </td>
            <td rowspan="{{ value.entries | length }}">
                <ul>
                {%- for id in value.included_groups  -%}
                    <li><b>{{ groups[id].name }}</b> - {{ groups[id].match_type }} {{ groups[id].properties }}  
                {%- endfor -%}
                </ul>
            </td>
            <td rowspan="{{ value.entries | length }}">
                <ul>
                {%- for id in value.excluded_groups  -%}
                    <li><b>{{ groups[id].name }}</b> - {{ groups[id].match_type }} {{ groups[id].properties }}  
                {%- endfor -%}
                </ul>
            </td>
        </tr>
        {%- for entry in value.entries[1:] -%}
        <tr>
            <td>{{ entry.type }}</td>
            <td>{{ entry.permissions[1] }}</td>
            <td>{{ entry.permissions[2] }}</td>
            <td>{{ entry.permissions[4] }}</td>
            <td>{{ entry.permissions[8] }}</td>
            <td>{{ entry.permissions[16] }}</td>
            <td>{{ entry.permissions[32] }}</td>
            <td>{{ entry.permissions[64] }}</td>
            <td>{{ entry.notifications }} ({{ entry.options }})</td>
            <td>{{ entry.sid }}</td>
            <td>{{ entry.parameters.match_type }}
                <ul> 
                {%- for condition in entry.parameters.conditions -%}
                    <li> {{ condition.match_type }} 
                        <ul>
                        {%- for id in condition.groups -%}
                            <li>{{ groups[id].name }} {{ groups[id].match_type }} {{ groups[id].properties }}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
            </td>
        </tr>
        {%- endfor -%}
    {%- endfor -%}
</table>

## Files
This policy is based on information in the following files:

{% for path in paths %}
- {{ path }}
{% endfor %}

## GPO
### Groups
```
{{ groupsXML }}
```
### Rules
```
{{ rulesXML }}
```
## Intune Custom Settings

| Name | Description | OMA-URI | Type | Value |
|---  |---          |---      |---   |---    |
{% for oma_uri in intuneCustomSettings -%}
| {{intuneCustomSettings[oma_uri].name}} | {{intuneCustomSettings[oma_uri].description}} | {{ oma_uri }} | {{intuneCustomSettings[oma_uri].data_type }} | {{intuneCustomSettings[oma_uri].value }} |
{% endfor %}

## Mac
{% if macError is none %}
```
{{ macPolicy }}
```
{% else %}
This policy is not supported on Mac because {{ macError }}
{% endif %}

