# Device Control Policy: {{ env['TITLE'] }}

## Policy Rules
<table>
    <tr>
        <th rowspan="2" valign="top">Name</th>
        <th rowspan="2" valign="top">Devices</th>
        <th rowspan="2" valign="top">Excluding</th>
        <th rowspan="2" valign="top">Rule Type</th>
        <th colspan="7" valign="top"><center>Access</center></th>
        <th rowspan="2" valign="top">Notification</th>
        <th rowspan="2" valign="top">User SID</th>
        <th rowspan="2" valign="top">Conditions</th>
    </tr>
    <tr>
		<th>Disk Read</th>
		<th>Disk Write</th>
		<th>Disk Execute</th>
		<th>File Read</th>
		<th>File Write</th>
		<th>File Execute</th>
		<th>Print</th>
	</tr>
    {%- for key,value in rules.items() -%}
        <tr>
            <td rowspan="{{ value.entries | length }}"><b>{{ value.name }}</b></td>
            <td rowspan="{{ value.entries | length }} valign="top">
                <ul>
                {%- for id in value.included_groups  -%}
                    <li>{{ groups[id].name }}<a href="#{{ groups[id].get_section_title() }}" title="{{ groups[id].properties }}">(details)</a>  
                {%- endfor -%}
                </ul>
            </td>
            <td rowspan="{{ value.entries | length }}" valign="top">
                <ul>
                {%- for id in value.excluded_groups  -%}
                    <li>{{ groups[id].name }}<a href="#{{ groups[id].get_section_title() }}" title="{{ groups[id].properties }}">(details)</a>
                {%- endfor -%}
                </ul>
            </td>
            <td>{{ value.entries[0].type_text }}</td>
            <td>{{ value.entries[0].permission_icons[1] }}</td>
            <td>{{ value.entries[0].permission_icons[2] }}</td>
            <td>{{ value.entries[0].permission_icons[4] }}</td>
            <td>{{ value.entries[0].permission_icons[8] }}</td>
            <td>{{ value.entries[0].permission_icons[16] }}</td>
            <td>{{ value.entries[0].permission_icons[32] }}</td>
            <td>{{ value.entries[0].permission_icons[64] }}</td>
            <td>{{ value.entries[0].options_text }} ({{ value.entries[0].options }})</td> 
            <td>{{ value.entries[0].sid }}</td>
            <td>{{ value.entries[0].parameters.match_type }}
                <ul> 
                {%- for condition in value.entries[0].parameters.conditions -%}
                    <li> {{ condition.match_type }} 
                        <ul>
                        {%- for id in condition.groups -%}
                            <li>{{ groups[id].name }} {{ groups[id].match_type }} {{ groups[id].properties }}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
            </td>
        </tr>
        {%- for entry in value.entries[1:] -%}
        <tr>
            <td>{{ entry.type_text }}</td>
            <td>{{ entry.permission_icons[1] }}</td>
            <td>{{ entry.permission_icons[2] }}</td>
            <td>{{ entry.permission_icons[4] }}</td>
            <td>{{ entry.permission_icons[8] }}</td>
            <td>{{ entry.permission_icons[16] }}</td>
            <td>{{ entry.permission_icons[32] }}</td>
            <td>{{ entry.permission_icons[64] }}</td>
            <td>{{ entry.options_text }} ({{ entry.options }})</td>
            <td>{{ entry.sid }}</td>
            <td>{{ entry.parameters.match_type }}
                <ul> 
                {%- for condition in entry.parameters.conditions -%}
                    <li> {{ condition.match_type }} 
                        <ul>
                        {%- for id in condition.groups -%}
                            <li>{{ groups[id].name }} {{ groups[id].match_type }} {{ groups[id].properties }}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
            </td>
        </tr>
        {%- endfor -%}
    {%- endfor -%}
</table>

## Groups

{% for group_id in groups %}
### {{ groups[group_id].name }}

This is a group of type *{{ groups[group_id].type }}*. 
The match type for the group is *{{ groups[group_id].match_type }}*.

|  Property | Value |
|-----------|-------|
{% for property in groups[group_id].properties -%}
{% for key,value in property.items() -%} 
| {{ key }} | {{ value }} |
{% endfor -%}
{% endfor %}

XML
```
{{ groups[group_id].toXML() }}
```
{% endfor %}

## Files
This policy is based on information in the following files:

{% for path in paths -%}
- {{ path }}
{% endfor %}

## Intune UX
{%  if intune_ux_support.isValid()   %}
{% include "intune_ux.j2" %}
{% else %}
Intune UX is not supported for this policy because:
    {% for issue in intune_ux_support.issues -%}
- {{ issue }}
    {% endfor %}
{% endif %}

## GPO
### Groups
```
{{ groupsXML }}
```
### Rules
```
{{ rulesXML }}
```
## Intune Custom Settings

| Name | Description | OMA-URI | Type | Value |
|---  |---          |---      |---   |---    |
{% for oma_uri in intuneCustomSettings -%}
| {{intuneCustomSettings[oma_uri].name}} | {{intuneCustomSettings[oma_uri].description}} | {{ oma_uri }} | {{intuneCustomSettings[oma_uri].data_type }} | {{intuneCustomSettings[oma_uri].value }} |
{% endfor %}

## Mac
{% if macError is none %}
```
{{ macPolicy }}
```
{% else %}
This policy is not supported on Mac because {{ macError }}
{% endif %}

