{% for group_id in groups -%}
    {% include "reusable_settings.j2" %}
{% endfor -%}
{% include "intune_configuration_profile.j2" %}
{% if rules | length > 1 %}
[!IMPORTANT]
This policy has more than 1 rule.  
Policy ordering is not guaranteed by Intune.
Make sure that policy is not dependent on order to achieve desired result.
Consider using ```default deny```.   
{% endif %}
{% for rule_id in rules -%}
{% include "intune_rule.j2" %}
{% endfor %}