{% if i != 0 %}
   1. Click on "+ Add"
{% endif %}
   1. Select {{ entry.type }} from "Type"
   1. Select {{ entry.notifications }} from "Options"
   1. Select {{ entry.permissions }} from "Access Mask"
