<table>
    <tr>
        <th rowspan="2" valign="top">Name</th>
        <th colspan="2" valign="top">Devices</th>
        <th rowspan="2" valign="top">Rule Type</th>
        <th colspan="{{ entry_type.access_types | length }}" valign="top"><center>Access</center></th>
        <th rowspan="2" valign="top">Notification</th>
    </tr>
    <tr>
        <th>Included</th>
        <th>Excluded</th>
        {%- for access_type,access_type_data in entry_type.access_types.items() -%}
        <th>{{ access_type_data["label"] }}</th>
        {%- endfor -%}
	</tr>
    {%- for key,value in rules.items() -%}
        <tr>
            <td rowspan="{{ value.entries | length }}"><b>{{ value.name }}</b></td>
            <td rowspan="{{ value.entries | length }} valign="top">
                <ul>
                {%- for id in value.included_groups  -%}
                    <li>{{ groups[id].name }}<a href="#{{ groups[id].get_section_title() }}" title="{{ groups[id].match_type }} {{ groups[id].get_conditions() }}"> (details)</a>  
                {%- endfor -%}
                </ul>
            </td>
            <td rowspan="{{ value.entries | length }}" valign="top">.
                <ul>
                {%- for id in value.excluded_groups  -%}
                    <li>{{ groups[id].name }}<a href="#{{ groups[id].get_section_title() }}" title="{{ groups[id].match_type }} {{ groups[id].get_conditions() }}"> (details)</a>
                {%- endfor -%}
                </ul>
            </td>
            <td>{{ value.entries[0].enforcement }}</td>
            {% for p,icon in Icons.get_permission_icons(value.entries[0]).items() -%}
            <td>{{ icon }}</td>
            {% endfor %}
            <td>{{ value.entries[0].options_text }} ({{ value.entries[0].options_mask }})</td> 
        </tr>
        {%- for entry in value.entries[1:] -%}
        <tr>
            <td>{{ entry.enforcement }}</td>
            {% for permission,icon in entry.permission_icons -%}
            <td>{{ icon }}</td>
            {% endfor %}
            <td>{{ entry.options_text }} ({{ entry.options_mask }})</td>
        </tr>
        {%- endfor -%}
    {%- endfor -%}
</table>