   {% for key,value in property.items() %}
   8. Add a Removable Storage object for {{ key }}
        1. Click (+) Add
        2. Select "Reusable storage"
        3. Click on "Edit Instance"    
        4. Enter *{{ key }}* for Name
        5. Enter *{{ value }}* for {{ key }}
        6. Click "Save"
    {% endfor %}