{% set has_printing =  "Printer" in entry_type.label %}
<table>
    <tr>
        <th rowspan="2" valign="top">Name</th>
        <th colspan="2" valign="top"><center>Devices</center></th>
        <th rowspan="2" valign="top">Rule Type</th>
        {% if has_printing -%}
        <th colspan="1" valign="top"><center>Access</center></th>
        {% elif "Generic" in entry_type.label %}
        <th colspan="7" valign="top"><center>Access</center></th> 
        {%- else -%}
        <th colspan="6" valign="top"><center>Access</center></th>
        {% endif -%}
        <th rowspan="2" valign="top">Notification</th>
        <th rowspan="2" valign="top">Conditions</th>
    </tr>
    <tr>
        <th>Included</th>
        <th>Excluded</th>
        {% if not has_printing -%}
		<th>Disk Read</th>
		<th>Disk Write</th>
		<th>Disk Execute</th>
		<th>File Read</th>
		<th>File Write</th>
		<th>File Execute</th>
        {%- endif -%}
        {% if has_printing or "Generic" in entry_type.label -%}
		<th>Print</th>
        {% endif -%}
	</tr>
    {%- for key,value in rules.items() -%}
        <tr>
            <td rowspan="{{ value.entries | length }}" valign="top"><b>{{ value.name }}</b></td>
            <td rowspan="{{ value.entries | length }} valign="top">
                <ul>
                {%- for property in value.included_device_properties  -%}
                    {% include "windows_device_property.j2" %}
                {%- endfor -%}
                </ul>
            </td>
            <td rowspan="{{ value.entries | length }}" valign="top">
                <ul>
                {%- for property in value.excluded_device_properties  -%}
                    {% include "windows_device_property.j2" %}
                {%- endfor -%}
                </ul>
            </td>
            <td>{{ value.entries[0].enforcement.label }}</td>
            {% for p,icon in Helper.get_permission_icons(value.entries[0]).items() -%}
            <td>{{ icon }}</td>
            {% endfor -%}
            <td>{{ value.entries[0].options_text }} ({{ value.entries[0].options_mask }})</td> 
            <td>
                {% if not value.entries[0].has_conditions() -%}
                <center>-</center>
                {%- else -%}
                <details>
                <summary>View</summary>
                {% if value.entries[0].has_user_condition() -%} 
                User: {{ value.entries[0].sid }}<br>
                {% endif -%}
                {%- if value.entries[0].has_parameters() -%}
                {{ value.entries[0].parameters.match_type }}:
                <ul> 
                {%- for condition in value.entries[0].parameters.conditions -%}
                    <li> {{ condition.condition_type.label }}: {{ condition.match_type }} 
                        <ul>
                        {%- for property in condition.properties -%}
                            {% include "windows_device_property.j2" %}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
                </details>
                {%- endif -%}
                {%- endif -%}
            </td>
        </tr>
        {%- for entry in value.entries[1:] -%}
        <tr>
            <td>{{ entry.enforcement.label }}</td>
            {% for p,icon in Helper.get_permission_icons(entry).items() -%}
            <td>{{ icon }}</td>
            {% endfor -%}
            <td>{{ entry.options_text }} ({{ entry.options_mask }})</td>
            <td> 
                {% if not entry.has_conditions() -%}
                <center>-</center>
                {%- else -%}
                <details>
                <summary>View</summary>
                {% if entry.has_user_condition() -%}
                User: {{ entry.sid }}<br>
                {%- endif -%}
                {%- if entry.has_parameters() -%}
                {{ entry.parameters.match_type }}:
                <ul> 
                {%- for condition in entry.parameters.conditions -%}
                    <li> {{ condition.condition_type.label }}: {{ condition.match_type }} 
                        <ul>
                        {%- for property in condition.properties -%}
                            {% include "windows_device_property.j2" %}
                        {%- endfor -%}
                        </ul>
                {%- endfor %}
                </ul>
                </details>
                {% endif -%}
                {%- endif -%}
            </td>
        </tr>
        {%- endfor -%}
    {%- endfor -%}
</table>